#main-content {
    height: 1000px;
}


/*NAV DROPDOWN*/

#nav-list {
    background-color: lightcyan ;
}
#nav-list a {
    color: #000;
    text-align: center;
}
#nav-list a:hover {
    background: blueviolet;
    color: #fff;
}
.border {
    border: 1px solid #000;
}


/*FOOD TILES*/

.tiles {
    background-color: #e7e7e7;
    padding-bottom: 20px;
}
.tiles p {
    margin-left: 20px;
    margin-right: 20px;
}
.tiles h3 {
    padding-top: 5px;
}
.content span {
    text-align: center;
    margin-left: 20px;
    padding-bottom: 20px;
}
.content a {
    text-decoration: underline;
}


/********** Mobile devices only **********/
@media (max-width: 768px) {
    .container-fluid {
        margin-left: 40px;
        margin-right: 40px;
    }
}